.home {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-btn {
  display: inherit;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 1px solid rgb(0, 0, 0); */
  border-radius: 15px;
  text-align: center;
  margin: 1.5rem;
  width: 18vw;
  height: 25vw;
  padding: 1rem;
  color: red;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 10px rgb(88, 3, 3);
}

.home a:hover {
  text-decoration: none;
  color: red;
}

.home-btn-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-btn-title i {
  margin: 0.5rem;
}

#btn-1 {
  background-image: url(/img/blood-cells.jpg);
}

#btn-2 {
  background-image: url(/img/hero-hand.jpg);
}

#btn-3 {
  background-image: url(/img/blood-donor.jpg);
}

#btn-4 {
  background-image: url(/img/blood-donor.jpg);
}
/*/////////////////// RESPONSIVE // MOBILE /////////////////////////*/

@media only screen and (max-width: 768px) {
  .home {
    flex-direction: column;
    height: 70vh;
  }

  .home-btn {
    flex-direction: row;
    overflow: hidden;
    width: 60vw;
    margin: 0.5rem;
    border-radius: 40px;
  }

  .home-btn p {
    display: none;
  }
}
