/* .navtabs:hover {
  border-radius: 30px;
  color: white;
  background-color: rgb(240, 58, 58);
}

.btn {
  display: inline-block;
  padding: 1em 1.5em;
  border-radius: 30px;
  background: none;
  color: rgb(174, 4, 4);
  position: relative;
  transition: color 0.25s ease;
}

.btn:hover {
  color: rgb(255, 255, 255);
}

.btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 30px;
  background-color: rgb(240, 58, 58);
  transform-origin: left;
  transition: width 0.25s ease;
  z-index: -1;
}

.btn:hover::after {
  width: 100%;
} */
