.navbar {
  display: flex;
}

.navtabs {
  /* display: inline;
  color: yellow;
  background-color: blue; */

  border: none;
  color: rgb(174, 4, 4);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
}

.navtabs:hover {
  border-radius: 30px;
  color: white;
  background-color: rgb(240, 58, 58);
}
