.navbar {
  background-color: rgb(210, 0, 0);
  border-radius: 0px 0px 10px 10px;
}

.NavLink {
  color: #fff !important;
}

.navbar-light .navbar-toggler {
  border-radius: 30%;
  border: 2px solid #fff !important;
}

.button:focus,
.button:active {
  outline: none !important;
  box-shadow: none;
}
