.signupmenu {
  width: 25vw;
  justify-content: center;
}

.bloodgrp {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.signupbtn {
  display: flex;
  justify-content: center;
}
