.App {
  background-color: #e9303f;
  background-image: linear-gradient(
    white,
    rgb(224, 224, 224),
    rgb(224, 224, 224),
    rgb(137, 137, 137)
  );
  min-height: 100vh;
  /* color: #bb2734;
  display: flex;
  justify-content: center;
  align-items: center; */
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #bb2734;
}

.switchh {
  display: flex;
  justify-content: center;
}
