/* .App {
  height: 150vh;
  background: linear-gradient(
    white,
    rgb(224, 224, 224),
    rgb(224, 224, 224),
    rgb(137, 137, 137)
  );
} */

.switchh {
  display: flex;
  justify-content: center;
}
